<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="" />
    <link href="~/css/styles.css" rel="stylesheet">
</head>

<body class="">
    <div class="wrapper">
        @RenderBody()
    </div>

    <footer>
        <p class="footer-contents">
            © 2019 Pixelart
        </p>
    </footer>
</body>

</html>